<section class="section" id="about">
  <div class="container">
    <h2 class="section__title about__title">About</h2>
    <ul class="about-list">
      <li class="about-list__item">
        <h3 class="about-list__title">Mission:</h3>
        <p class="about-list__text">
          Deliver service and execution excellence when providing high-quality
          engineering solutions. Apply innovative, reliable and cost-effective
          solutions.
        </p>
      </li>
      <li class="about-list__item">
        <h3 class="about-list__title">Vision:</h3>
        <p class="about-list__text">
          Improve the quality of life in our communities, one project at a time.
          Develop strategic relationships with valued clients. Be a responsive
          and trusted partner of choice to our valued clients.
        </p>
      </li>
      <li class="about-list__item">
        <h3 class="about-list__title">What We Do:</h3>
        <p class="about-list__text">
          OTHON is a national DBE/MBE engineering firm providing professional
          civil engineering, construction management, and environmental services
          to governmental entities, private industry, and other engineering
          firms - regionally, nationally, and internationally.
        </p>
      </li>
    </ul>
    <div class="about-video">
      <button type="button" class="about-video__sound-btn" id="sound-btn">
        <svg width="41" height="35" class="about-video__icon">
          <use xlink:href="./img/icons.svg#icon-sound" id="sound-icon"></use>
        </svg>
      </button>
    </div>
  </div>

  <!-- <div class="container story">
    <div class="story-history">
      <h2 class="section__title our_story">Our Story (history and legacy):</h2>
      <div>
        <h3 class="story-subtitle">
          OTHON is recognized as a multi-discipline civil engineering firm. It
          was incorporated in 1996 in Houston, Texas, by the late F. William
          Othon, P.E.
        </h3>
        <div class="story-images">
          <img
            class="story-image"
            src="./img/story/story-1-sm.jpg"
            alt="story image"
            width="435"
            height="435"
            loading="lazy"
          />
          <img
            class="story-image"
            src="./img/story/story-2-sm.jpg"
            alt="story image"
            width="432"
            height="435"
            loading="lazy"
          />
        </div>
      </div>
    </div>
    <div class="story-legacy">
      <svg width="53" height="53" class="story-legacy__icon">
        <use xlink:href="./img/icons.svg#icon-globe"></use>
      </svg>
      <h3 class="story-subtitle">
        Today OTHON is an award-winning company with over 100 employees.
      </h3>
      <p class="story-legacy__text">
        Our diverse group of Professional Engineers, designers and team members
        lead the way by providing a full range of design services in roads and
        highways, bridges and structural engineering, transportation planning,
        traffic engineering, high speed rail systems, pumping and drainage
        networks, airports, municipal infrastructure, intelligent transportation
        systems, construction services, public involvement and program
        management services for all levels of government agencies as well as
        private developers.
      </p>
    </div>
  </div>
  <div class="container story-info">
    <div class="story-info__one">
      <p>
        In 1998, OTHON expanded its operations with the addition of an office in
        the Dallas, Texas region, and in 2023 opened a third office in Austin,
        Texas.
      </p>
    </div>
    <div class="story-info__two">
      <p>
        Throughout the company’s progress, we have remained committed to our
        core values and vision. Making a difference in the lives of the people
        and communities we serve is paramount to our work. It is the why we work
        hard and smart to deliver the highest quality of services in the civil
        engineering industry.
      </p>
    </div>
    <div class="story-info__three">
      <p class="story-info__card-title">About Us</p>
      <div class="story-info__bottom">
        <p class="story-info__card-text">
          History and competencies of the company.
        </p>
        <a href="#" class="story-info__card-link">
          <svg width="18" height="18" class="story-info__card-icon">
            <use xlink:href="./img/icons.svg#icon-arrow-right"></use>
          </svg>
        </a>
      </div>
    </div>
  </div> -->

  <div class="container story">
    <div class="story-title">
      <h2 class="section__title our_story">Our Story (history and legacy):</h2>
    </div>
    <div class="story-text">
      <h3 class="story-subtitle">
        OTHON is recognized as a multi-discipline civil engineering firm. It was
        incorporated in 1996 in Houston, Texas, by the late F. William Othon,
        P.E.
      </h3>
    </div>
    <div class="story-images1">
      <img
        class="story-image"
        src="./img/story/story-1-sm.jpg"
        alt="story image"
        width="435"
        height="435"
        loading="lazy"
      />
    </div>
    <div class="story-images2">
      <img
        class="story-image"
        src="./img/story/story-2-sm.jpg"
        alt="story image"
        width="432"
        height="435"
        loading="lazy"
      />
    </div>

    <div class="story-legacy">
      <svg width="53" height="53" class="story-legacy__icon">
        <use xlink:href="./img/icons.svg#icon-globe"></use>
      </svg>
      <div>
        <h3 class="story-subtitle">
          Today OTHON is an award-winning company with over 100 employees.
        </h3>
        <p class="story-legacy__text">
          Our diverse group of Professional Engineers, designers and team
          members lead the way by providing a full range of design services in
          roads and highways, bridges and structural engineering, transportation
          planning, traffic engineering, high speed rail systems, pumping and
          drainage networks, airports, municipal infrastructure, intelligent
          transportation systems, construction services, public involvement and
          program management services for all levels of government agencies as
          well as private developers.
        </p>
      </div>
    </div>

    <div class="story-info__one">
      <p>
        In 1998, OTHON expanded its operations with the addition of an office in
        the Dallas, Texas region, and in 2023 opened a third office in Austin,
        Texas.
      </p>
    </div>
    <div class="story-info__group">
      <div class="story-info__two">
        <p>
          Throughout the company’s progress, we have remained committed to our
          core values and vision. Making a difference in the lives of the people
          and communities we serve is paramount to our work. It is the why we
          work hard and smart to deliver the highest quality of services in the
          civil engineering industry.
        </p>
      </div>
      <div class="story-info__three">
        <div class="story-info__card">
          <p class="story-info__card-title">About Us</p>
          <div class="story-info__bottom">
            <p class="story-info__card-text">
              History and competencies<br />of the company.
            </p>
            <a href="#" class="story-info__card-link">
              <svg width="18" height="18" class="story-info__card-icon">
                <use xlink:href="./img/icons.svg#icon-arrow-right"></use>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
