<section class="section" id="careers">
  <div class="container careers">
    <div class="container-inner">
      <h2 class="section__title">Careers</h2>
      <h3 class="section__subtitle">Our Offices</h3>
      <div class="careers__content">
        <div class="careers__offices">
          <ul class="careers__offices-list">
            <li class="careers__offices-item">Houston, TX (Headquarters)</li>
            <li class="careers__offices-item">Dallas, TX</li>
            <li class="careers__offices-item">Austin, TX</li>
          </ul>
          <div class="careers__links">
            <div class="careers__links-item">
              <a class="careers__link" href="#" target="_blank"
                >List Job Openings
              </a>
              <svg width="18" height="18" class="careers__link-icon">
                <use xlink:href="./img/icons.svg#icon-arrow-right"></use>
              </svg>
            </div>
            <div class="careers__links-item">
              <a class="careers__link" href="#" target="_blank">Apply Now </a>
              <svg width="18" height="18" class="careers__link-icon">
                <use xlink:href="./img/icons.svg#icon-arrow-right"></use>
              </svg>
            </div>
          </div>
        </div>
        <div class="careers__info">
          <svg width="53" height="53" class="careers__icon">
            <use xlink:href="./img/icons.svg#icon-globe"></use>
          </svg>
          <div class="careers__text">
            <p>
              OTHON provides equal employment opportunities to all employees and
              applicants for employment and prohibits discrimination and
              harassment of any type without regard to race, color, religion,
              age, sex, national origin, disability status, genetics, protected
              veteran status, sexual orientation, gender identity or expression,
              or any other characteristic protected by federal, state or local
              laws.
            </p>
          </div>
          <div class="careers__img"></div>
        </div>
      </div>
    </div>
  </div>
</section>
