<footer class="footer">
  <div class="container footer__container">
    <div class="container-inner footer-bg">
      <div class="footer__logo">
        <svg width="200" height="35.37" class="footer__logo-icon">
          <use xlink:href="./img/icons.svg#icon-logo"></use>
        </svg>
      </div>
      <div class="footer__top">
        <div class="footer__links">
          <div class="footer__links-group">
            <h3 class="footer__group-title">Services</h3>
            <ul class="footer__links-list">
              <li class="footer__links-item">
                <a class="footer__list-link" href="#">Transportation</a>
              </li>
              <li class="footer__links-item">
                <a class="footer__list-link" href="#">Structural</a>
              </li>
              <li class="footer__links-item">
                <a class="footer__list-link" href="#">Public Works</a>
              </li>
              <li class="footer__links-item">
                <a class="footer__list-link" href="#">Site Development</a>
              </li>
              <li class="footer__links-item">
                <a class="footer__list-link" href="#"
                  >Construction Management</a
                >
              </li>
            </ul>
          </div>
          <div class="footer__links-group">
            <h3 class="footer__group-title">About</h3>
            <ul class="footer__links-list">
              <li class="footer__links-item">
                <a class="footer__list-link" href="#">Awards</a>
              </li>
              <li class="footer__links-item">
                <a class="footer__list-link" href="#">Certifications</a>
              </li>
              <li class="footer__links-item">
                <a class="footer__list-link" href="#">OTHON International</a>
              </li>
            </ul>
          </div>
          <div class="footer__links-group">
            <h3 class="footer__group-title">Company</h3>
            <ul class="footer__links-list">
              <li class="footer__links-item">
                <a class="footer__list-link" href="#">News</a>
              </li>
              <li class="footer__links-item">
                <a class="footer__list-link" href="#">Careers</a>
              </li>
              <li class="footer__links-item">
                <a class="footer__list-link" href="#">Contact</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="footer__form-area">
          <form class="footer__form" id="contact-us-form">
            <h2 class="footer__form-title" id="contact-us">Contact Us</h2>
            <div class="footer__form-fileds">
              <div class="footer__form-group">
                <input
                  class="footer__form-input"
                  type="text"
                  name="name"
                  placeholder="Your Name"
                />
              </div>
              <div class="footer__form-group">
                <input
                  class="footer__form-input"
                  type="text"
                  name="email"
                  placeholder="Your Email"
                />
              </div>
              <div class="footer__form-group">
                <input
                  class="footer__form-input"
                  type="text"
                  name="subject"
                  placeholder="Subject"
                />
              </div>
              <div class="footer__form-group">
                <input
                  class="footer__form-input"
                  type="text"
                  name="message"
                  placeholder="Your Message"
                />
              </div>
            </div>
            <button type="submit" class="footer__form-btn">
              Send Message
              <svg class="footer__form-icon" width="12" height="12">
                <use xlink:href="./img/icons.svg#icon-arrow-right"></use>
              </svg>
            </button>
          </form>
          <div class="footer__confirmation" id="contact-us-confirm">
            <p class="footer__confirmation-title">Thank you!</p>
            <p class="footer__confirmation-text">
              One of our managers will contact you soon.
            </p>
          </div>
        </div>
      </div>
      <div class="footer__middle">
        <div class="footer__offices">
          <div class="footer__office">
            <div class="footer__office-title">
              <h3 class="footer__group-title">
                Houston<br />
                <span>(Headquarters)</span>
              </h3>
            </div>
            <div class="footer__office-address">
              575 N. Dairy Ashford Rd.,<br />
              Suite 650<br />
              Houston, TX 77079
            </div>
            <div class="footer__office-phone">P: 713.975.8555</div>
          </div>
          <div class="footer__office">
            <div class="footer__office-title">
              <h3 class="footer__group-title">Dallas</h3>
            </div>
            <div class="footer__office-address">
              2140 Lake Park Blvd.,<br />
              Suite 200<br />
              Richardson, TX 75080
            </div>
            <div class="footer__office-phone">P: 214.340.7344</div>
          </div>
          <div class="footer__office">
            <div class="footer__office-title">
              <h3 class="footer__group-title">Austin</h3>
            </div>
            <div class="footer__office-address">
              9442 Capital of Texas<br />
              Highway North<br />
              Plaza 1, Suite 500<br />
              Austin, TX 78759
            </div>
            <div class="footer__office-phone">P: 512.940.8602</div>
          </div>
        </div>
        <div class="footer__certificates">
          <div class="footer__cert-inner">
            <div class="footer__cert">
              <div class="footer__office-title">
                <h3 class="footer__group-title">International Offices</h3>
              </div>
              <div class="footer__inter">
                <p class="footer__inter-info">
                  Sangineni Engineering and<br />
                  Technical Services (SEATS)
                </p>
                <p class="footer__inter-accent">– Hyderabad, India</p>
              </div>
              <div class="footer__inter">
                <p class="footer__inter-info">Othon Enginero Consultares</p>
                <p class="footer__inter-accent">– Santander, Spain</p>
              </div>
            </div>
            <div class="footer__cert">
              <div class="footer__office-title">
                <h3 class="footer__group-title">Certifications</h3>
              </div>
              <div class="footer__cert-info">
                <div class="footer__cert-item">
                  <h4 class="footer__cert-title">DBE:</h4>
                  <div class="footer__cert-items">
                    <ul class="footer__cert-list">
                      <li>Texas</li>
                      <li>Georgia</li>
                      <li>California</li>
                      <li>Colorado</li>
                    </ul>
                    <ul class="footer__cert-list">
                      <li>Florida</li>
                      <li>New Mexico</li>
                      <li>Wirginia</li>
                    </ul>
                  </div>
                </div>
                <div class="footer__cert-item">
                  <h4 class="footer__cert-title">SBE/MBE/HUB:</h4>
                  <div class="footer__cert-items">
                    <ul class="footer__cert-list">
                      <li>Texas</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="footer__bottom">
        <div class="footer__bot-left">
          <div class="footer__copyright">
            ©2024 OTHON, INC. All Rights Reserved.
          </div>
          <div class="footer__terms">
            <a href="#" class="footer__privacy-link">Terms and Conditions</a>
          </div>
        </div>

        <div class="footer__bot-right">
          <div class="footer__bot-right-inner">
            <div class="footer__created">
              <a
                class="footer__created-link"
                href="https://dd.nyc/"
                target="_blank"
                ><span>Created with ♡ by</span> DD.NYC®</a
              >
            </div>
            <div class="footer__privacy">
              <a href="#" class="footer__privacy-link">Privacy Policy</a>
            </div>
            <div class="footer__social">
              <a href="#" target="_blank" class="footer__social-item">
                <svg width="30" height="30" class="footer__social-icon">
                  <use xlink:href="./img/icons.svg#icon-facebook"></use>
                </svg>
              </a>
              <a href="#" target="_blank" class="footer__social-item">
                <svg width="30" height="30" class="footer__social-icon">
                  <use xlink:href="./img/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
              <a href="#" target="_blank" class="footer__social-item">
                <svg width="30" height="30" class="footer__social-icon">
                  <use xlink:href="./img/icons.svg#icon-youtube"></use>
                </svg>
              </a>
              <a href="#" target="_blank" class="footer__social-item">
                <svg width="30" height="30" class="footer__social-icon">
                  <use xlink:href="./img/icons.svg#icon-instagram"></use>
                </svg>
              </a>
              <a href="#" target="_blank" class="footer__social-item">
                <svg width="30" height="30" class="footer__social-icon">
                  <use xlink:href="./img/icons.svg#icon-twitter"></use>
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
