<header class="header">
  <div class="container head">
    <div class="head-logo">
      <svg width="200" height="35" class="head-logo__icon">
        <use xlink:href="./img/icons.svg#icon-logo"></use>
      </svg>
    </div>
    <nav class="head-nav">
      <ul class="head-nav__list">
        <li class="head-nav__item">
          <a href="#home" class="head-nav__link">Home</a>
        </li>
        <li class="head-nav__item">
          <a href="#about" class="head-nav__link">About</a>
        </li>
        <li class="head-nav__item">
          <a href="#services" class="head-nav__link">Services</a>
        </li>
        <li class="head-nav__item">
          <a href="#careers" class="head-nav__link">Careers</a>
        </li>
      </ul>
    </nav>
    <button type="button" class="head-btn">Contact Us</button>
  </div>
</header>
