<section class="section" id="home">
  <div class="container home">
    <h1 class="home-title">Integrity Innovation Dedication</h1>
    <ul class="home-list">
      <li class="home-list__item zoom-in item-road">
        <p class="home-list__text">Highways &<br />Roads</p>
        <a class="home-list_link" href="#">
          <svg width="23" height="23" class="home-list__icon">
            <use xlink:href="./img/icons.svg#icon-arrow-link"></use>
          </svg>
        </a>
      </li>
      <li class="home-list__item zoom-in item-transportation">
        <p class="home-list__text">Transportation<br />Planning</p>
        <a class="home-list_link" href="#">
          <svg width="23" height="23" class="home-list__icon">
            <use xlink:href="./img/icons.svg#icon-arrow-link"></use>
          </svg>
        </a>
      </li>
      <li class="home-list__item zoom-in item-design">
        <p class="home-list__text">Design<br />Build Services</p>
        <a class="home-list_link" href="#">
          <svg width="23" height="23" class="home-list__icon">
            <use xlink:href="./img/icons.svg#icon-arrow-link"></use>
          </svg>
        </a>
      </li>
      <li class="home-list__item zoom-in item-water">
        <p class="home-list__text">Water</p>
        <a class="home-list_link" href="#">
          <svg width="23" height="23" class="home-list__icon">
            <use xlink:href="./img/icons.svg#icon-arrow-link"></use>
          </svg>
        </a>
      </li>
      <li class="home-list__item zoom-in item-bridges">
        <p class="home-list__text">Bridges</p>
        <a class="home-list_link" href="#">
          <svg width="23" height="23" class="home-list__icon">
            <use xlink:href="./img/icons.svg#icon-arrow-link"></use>
          </svg>
        </a>
      </li>
      <li class="home-list__item zoom-in item-construction">
        <p class="home-list__text">Construction<br />Services</p>
        <a class="home-list_link" href="#">
          <svg width="23" height="23" class="home-list__icon">
            <use xlink:href="./img/icons.svg#icon-arrow-link"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>
