<section class="section" id="services">
  <div class="container services">
    <h2 class="section__title services-title">Services</h2>
    <div class="services-info">
      <div class="services-info__cont">
        <ul class="services-info__list" id="servicesList">
          <li class="services-info__item item-active">
            <a href="#">Highway and Road Engineering</a>
          </li>
          <li class="services-info__item">
            <a href="">Transportation Planning</a>
          </li>
          <li class="services-info__item">
            <a href="">Traffic Engineering</a>
          </li>
          <li class="services-info__item">
            <a href="">Bridges & Structural</a>
          </li>
          <li class="services-info__item">
            <a href="">Construction Services</a>
          </li>
          <li class="services-info__item">
            <a href="">Intelligent Transportation Systems Design</a>
          </li>
          <li class="services-info__item">
            <a href="">Illumination</a>
          </li>
          <li class="services-info__item">
            <a href="">Public Involvement</a>
          </li>
        </ul>
        <div class="services-info__control">
          <button class="services-info__control-btn btn-prev" id="prev-slide">
            <svg width="18" height="18" class="services-info__control-icon">
              <use xlink:href="./img/icons.svg#icon-arrow-left"></use>
            </svg>
          </button>
          <button class="services-info__control-btn btn-next" id="next-slide">
            <svg width="18" height="18" class="services-info__control-icon">
              <use xlink:href="./img/icons.svg#icon-arrow-right"></use>
            </svg>
          </button>
        </div>
      </div>
      <div class="services-info__slider">
        <ul class="services-info__slides" id="servicesSlide">
          <li class="services-info__slide slide-active">
            <img
              src="./img/services/services-1.jpg"
              alt="services image"
              loading="lazy"
              class="services-info__image"
              width="357"
              height="735"
            />
          </li>
          <li class="services-info__slide">
            <img
              src="./img/services/services-2.jpg"
              alt="services image"
              loading="lazy"
              class="services-info__image"
              width="357"
              height="735"
            />
          </li>
          <li class="services-info__slide">
            <img
              src="./img/services/services-3.jpg"
              alt="services image"
              loading="lazy"
              class="services-info__image"
              width="357"
              height="735"
            />
          </li>
          <li class="services-info__slide">
            <img
              src="./img/services/services-4.jpg"
              alt="services image"
              loading="lazy"
              class="services-info__image"
              width="357"
              height="735"
            />
          </li>
          <li class="services-info__slide">
            <img
              src="./img/services/services-5.jpg"
              alt="services image"
              loading="lazy"
              class="services-info__image"
              width="357"
              height="735"
            />
          </li>
          <li class="services-info__slide">
            <img
              src="./img/services/services-6.jpg"
              alt="services image"
              loading="lazy"
              class="services-info__image"
              width="357"
              height="735"
            />
          </li>
          <li class="services-info__slide">
            <img
              src="./img/services/services-7.jpg"
              alt="services image"
              loading="lazy"
              class="services-info__image"
              width="357"
              height="735"
            />
          </li>
          <li class="services-info__slide">
            <img
              src="./img/services/services-8.jpg"
              alt="services image"
              loading="lazy"
              class="services-info__image"
              width="357"
              height="735"
            />
          </li>
        </ul>
        <a href="#" class="services-info__card-link">
          <svg width="18" height="18" class="services-info__card-icon">
            <use xlink:href="./img/icons.svg#icon-arrow-right"></use>
          </svg>
        </a>
      </div>
      <div class="services-info__text">
        <ul class="services-info__text-list" id="servicesText">
          <li class="services-info__text-item text-active">
            <p>
              Our mission is to accomplish great things, exceed our clients’
              expectations and meet the challenges of our growing infrastructure
              through practical engineering solutions, innovation, and hard
              work.
            </p>
            <p>
              Our diverse group of Professional Engineers and Designers lead the
              way by providing a full range of  services in roads and highways:
              hands-on design management of roadway design, traffic control
              plans, schematic design, minor and major bridge design, traffic
              engineering studies, traffic demand modeling, intelligent
              transportation systems, signing and pavement markings, roadway
              hydraulics, from minor crossings through major highways and
              interchanges across the state, including the reconstruction of the
              $1.5 billion US 290 corridor.
            </p>
          </li>
          <li class="services-info__text-item">
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Natus
              adipisci veritatis magnam? Odio, ipsum ducimus quibusdam
              voluptatum repellendus, numquam natus perspiciatis optio commodi
              quidem similique dignissimos neque iusto praesentium ex.
            </p>
          </li>
          <li class="services-info__text-item">
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Natus
              adipisci veritatis magnam? Odio, ipsum ducimus quibusdam
              voluptatum repellendus, numquam natus perspiciatis optio commodi
              quidem similique dignissimos neque iusto praesentium ex.
            </p>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Natus
              adipisci veritatis magnam? Odio, ipsum ducimus quibusdam
              voluptatum repellendus, numquam natus perspiciatis optio commodi
              quidem similique dignissimos neque iusto praesentium ex.
            </p>
          </li>
          <li class="services-info__text-item">
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Natus
              adipisci veritatis magnam? Odio, ipsum ducimus quibusdam
              voluptatum repellendus, numquam natus perspiciatis optio commodi
              quidem similique dignissimos neque iusto praesentium ex.
            </p>
          </li>
          <li class="services-info__text-item">
            <p>
              OTHON’s reputable construction management services have provided
              critical support in the delivery of many high-profile projects,
              including the $2.5 billion Katy Freeway Reconstruction Project,
              Bush Intercontinental Airport Rehabilitation, Houston Toyota
              Center, 2013 Fort Bend Mobility Bond Program and the $1.5 billion
              US 290 Reconstruction Project.
            </p>
            <p>
              We assist our clients by providing a comprehensive array of
              services aimed to facilitate construction from opening to final
              completion including Construction Management and Inspection
              Services, Scheduling and Mitigation Strategies, and Public
              Involvement and Community Outreach services. OTHON provides
              comprehensive constructability review for all design components
              and recommendation of the contractor’s schedule, troubleshooting
              field problems, review of contractor’s change orders, coordination
              with agencies and adjacent projects, and time impact analysis.
            </p>

            <p>
              Through effective management and coordination from project
              kick-off to close-out, our Construction Services team is committed
              to delivering projects on time and under budget.
            </p>
          </li>
          <li class="services-info__text-item">
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Natus
              adipisci veritatis magnam? Odio, ipsum ducimus quibusdam
              voluptatum repellendus, numquam natus perspiciatis optio commodi
              quidem similique dignissimos neque iusto praesentium ex.
            </p>
          </li>
          <li class="services-info__text-item">
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Natus
              adipisci veritatis magnam? Odio, ipsum ducimus quibusdam
              voluptatum repellendus, numquam natus perspiciatis optio commodi
              quidem similique dignissimos neque iusto praesentium ex.
            </p>
          </li>
          <li class="services-info__text-item">
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Natus
              adipisci veritatis magnam? Odio, ipsum ducimus quibusdam
              voluptatum repellendus, numquam natus perspiciatis optio commodi
              quidem similique dignissimos neque iusto praesentium ex.
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
