/* About section */
.about__title {
  border-top: 1px solid var(--color-border);
}
.about-list {
  margin-bottom: 100px;
  margin-left: 50%;
  padding-left: 60px;

  display: flex;
  flex-direction: column;
}
.about-list__item {
  padding-right: 100px;
}
.about-list__item:not(:last-child) {
  padding-bottom: 66px;
  margin-bottom: 60px;
  border-bottom: 1px solid var(--color-border);
}
.about-list__title {
  font-size: 34px;
  line-height: 1.1;
  letter-spacing: -0.01em;
  margin-bottom: 30px;
}
.about-list__text {
  font-size: 22px;
  letter-spacing: 0.01em;
}
.about-video {
  position: relative;
  margin-bottom: 100px;
  width: 1800px;
  height: 904px;
  background: url(../img/video-cover.jpg) no-repeat;
  background-size: cover;
}
.about-video__sound-btn {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 41px;
  height: 35px;
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
}
.about-video__icon {
  fill: var(--color-white);
  width: 41px;
  height: 35px;
}
.story {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-between;
  margin-bottom: 80px;
}
.story-subtitle {
  font-size: 34px;
  line-height: 1.1;
  letter-spacing: -0.01em;
  margin-bottom: 44px;
}
.story-images {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.story-history {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 891px;
  height: 890px;
  border-top: 1px solid var(--color-border);
}
.story-legacy {
  position: relative;
  width: 882px;
  height: 890px;
  border-radius: 20px;
  background-color: var(--color-alice-blue);
  padding: 60px 43px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.story-legacy__icon {
  position: absolute;
  width: 53px;
  height: 53px;
  top: 40px;
  right: 41px;
  fill: var(--color-dark-blue);
}
.story-legacy .story-subtitle {
  margin-bottom: 49px;
}
.story-legacy__text {
  font-size: 22px;
  letter-spacing: 0.01em;
}
.story-info {
  display: flex;
  flex-direction: row;
  gap: 24px;
  margin-bottom: 100px;
}
.story-info__one {
  width: 435px;
  border-top: 1px solid var(--color-border);
  padding-top: 30px;
  font-size: 22px;
  letter-spacing: 0.01em;
}
.story-info__two {
  width: 738px;
  border-top: 1px solid var(--color-border);
  padding-top: 30px;
  padding-right: 67px;
  margin-top: 254px;
  font-size: 22px;
  letter-spacing: 0.01em;
}
.story-info__three {
  width: 579px;
  height: 301px;
  margin-top: 254px;
  border-radius: 20px;
  background-color: var(--color-dark-blue);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 35px;
}
.story-info__card-title {
  font-size: 24px;
  line-height: 1.3;
  letter-spacing: 0.01em;
  color: var(--color-white);
}
.story-info__bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 48px;
}
.story-info__card-text {
  font-size: 34px;
  line-height: 1.1;
  letter-spacing: -0.01em;
  color: var(--color-white);
}
.story-info__card-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 53px;
  height: 53px;
  border-radius: 100%;
  background-color: var(--color-white);
  flex-shrink: 0;
  fill: var(--color-orange-red);
  transition: all 0.25s ease;
}
.story-info__card-link:hover,
.story-info__card-link:active,
.story-info__card-link:focus {
  background-color: var(--color-orange-red);
  fill: var(--color-white);
}
