/* career section */
.careers {
  padding: 0 20px;
  margin-bottom: 20px;
}
.container-inner {
  background-color: var(--color-dark-blue);
  border-radius: 20px;
  padding: 37px 40px 45px 50px;
}
.careers .section__title {
  color: var(--color-white);
  padding-top: 0;
  margin-bottom: 93px;
}
.section__subtitle {
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: 0.01em;
  color: var(--color-white);
  margin-bottom: 25px;
}

.careers__content {
  display: grid;
  grid-template-areas:
    'offices text photo'
    'links text photo';
  /* gap: 26px; */
}
.careers__offices {
  grid-area: offices;

  justify-content: space-between;

  border-top: 1px solid var(--color-border-light);
  padding-top: 19px;

  width: 566px;
}
.careers__offices-list {
  color: var(--color-white);
  list-style-type: disc;
  margin-left: 20px;
  margin-bottom: 514px;
}
.careers__offices-item {
  font-size: 24px;
  line-height: 1.3;
  letter-spacing: 0.01em;
}
.careers__links {
  grid-area: links;
}
.careers__links-item {
  fill: var(--color-orange-red);
  display: flex;
  gap: 12px;
  align-items: center;
}
.careers__link,
.careers__link:visited {
  color: var(--color-white);
  font-size: 26px;
  transition: margin-right 0.25s ease;
}
.careers__link:hover,
.careers__link:active,
.careers__link:focus {
  text-decoration: underline;
  margin-right: 20px;
}
.careers__info {
  grid-area: text;
  background-color: var(--color-alice-blue);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  height: 713px;
  margin-left: 26px;

  position: relative;
  display: flex;
}
.careers__text {
  flex-grow: 1;
  align-self: flex-end;
  padding: 0 31px 37px 40px;
}
.careers__icon {
  position: absolute;
  width: 53px;
  height: 53px;
  top: 40px;
  left: 40px;
  fill: var(--color-dark-blue);
}
.careers__text p {
  font-size: 22px;
  letter-spacing: 0.01em;
}
.careers__img {
  grid-area: photo;
  width: 601px;
  flex-shrink: 0;
  background: url(../img/careers.jpg) no-repeat;
}

/* for mobile */
@media screen and (max-width: 768px) {
  /* career section */
  .careers {
    padding: 0;
    margin-bottom: 0;
  }
  .container-inner {
    border-radius: 13px 13px 0 0;
    padding: 30px 20px 95px;
  }
  .careers .section__title {
    margin-bottom: 91px;
  }
  .section__subtitle {
    font-size: 16px;
    margin-bottom: 14px;
  }

  .careers__content {
    display: grid;
    grid-template-areas:
      'offices'
      'photo'
      'text'
      'links';
  }
  .careers__offices {
    grid-area: offices;
    padding-top: 12px;
    width: 100%;
  }
  .careers__offices-list {
    margin-bottom: 31px;
  }
  .careers__offices-item {
    font-size: 20px;
  }
  .careers__links {
    grid-area: links;
  }
  .careers__links-item {
    gap: 14px;
  }
  .careers__link,
  .careers__link:visited {
    font-size: 20px;
  }
  .careers__link:hover,
  .careers__link:active,
  .careers__link:focus {
    margin-right: 20px;
  }
  .careers__info {
    grid-area: text;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    height: auto;
    margin-left: 0;

    position: relative;
    display: flex;
    margin-bottom: 30px;
  }
  .careers__text {
    padding: 182px 18px 18px 20px;
  }
  .careers__icon {
    width: 39px;
    height: 39px;
    top: 20px;
    left: 20px;
  }
  .careers__text p {
    font-size: 16px;
  }
  .careers__img {
    grid-area: photo;
    width: 335px;
    height: 335px;
    border-radius: 13px;
    background: url(../img/careers-sm.jpg) no-repeat;
    margin-bottom: 20px;
  }
}
